<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Blog sur Django</title>
</head>
<body>
    <header>
        <h1><a href="/">Blog sur Django</a></h1>
    </header>

    <main>
        <article>
            <time datetime="2022-04-14T12:14">publié: 14.04.2022, 12:14</time>
            <h2><a href="">Mon premier post</a></h2>  
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </article>

        <article>
            <time datetime="2022-04-14T12:14">publié: 14.04.2022, 12:14</time>
            <h2><a href="">Mon second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </article>
    </main>
</body>
</html>